@import url(https://fonts.googleapis.com/css?family=Roboto);
@mixin center($width: null, $height: null) {
  position: absolute;
    top: 50%;
    left: 50%;
    @if not $width and not $height {
       transform: translate(-50%, -50%);
     } @else if $width and $height {
       width: $width;
       height: $height;
       margin: -($width / 2) #{0 0} -($height / 2);
     } @else if not $height {
       width: $width;
       margin-left: -($width / 2);
       transform: translateY(-50%);
     } @else {
       height: $height;
       margin-top: -($height / 2);
       transform: translateX(-50%);
     }
  }

  @mixin box-shadow($top, $left, $blur, $color, $inset:"") {

        -webkit-box-shadow:$top $left $blur $color #{$inset};
        -moz-box-shadow:$top $left $blur $color #{$inset};
        box-shadow:$top $left $blur $color #{$inset};
      }

body {
 font-family: 'Roboto', sans-serif;
 background: url("./src/img/bg1.jpg");
 color: lighten(#333, 70%);
 background-size: cover;
 // background-position: center;
}



.centered {
  @include center;
  .option {
   font-size: 12px;
  @include center($height: -70px);

  }
  .search {
    cursor: pointer;
    &:hover {
      color: lighten(#333, 40%);
    }
  }
  .btn {
  //  overflow: hidden;
   display: inline-block;
   color:#fff;
  //  border:2px solid transparentize(#fff, 0.4);
  //  border-radius: 2px;
   border: 0px;
   font-size: 42px;
   font-weight: normal;
   width: 50vw;
   line-height: 1.5;
   text-align: center;
  //  white-space: nowrap;
   vertical-align: middle;
   touch-action: manipulation;
   cursor: pointer;
   user-select: none;
   background:  transparentize(lighten(#000, 5%), 0.1);
      &:hover {
       color: lighten(#333, 40%);
      //  border:2px solid lighten(#333, 40%);
   }
  }
}
footer {
  position: fixed;
  display: block;
  bottom: 0;
  left: 0;
  height: 30px;
  width: 100%;
  background:  transparentize(lighten(#000, 10%), 0.3);
  // @include box-shadow(0, 2px, 0px, transparentize(lighten(#000, 10%), 0.3), inset);
}

.ukr {
  display: inline;
  float: right;
  margin: 5px;
}

.eng {
  display: inline;
  float: right;
  margin: 5px;
}
